config/CONFIG.py
chromadb/*
!chromadb/my_documents

__pycache__
config/__pycache__
.chainlit
.files

record_manager_cache.sql
data

test_lc_cb_2.ipynb
test_langchain_chatbot.ipynb
test_chatbot.ipynb
test_ctransformers.ipynb
test.ipynb
test*